.gallery {
  max-width: 90%;
  height: max-content;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.project {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-self: center;
  background-color: hsl(0deg, 0%, 90%);
  border: 2rem solid hsl(200deg, 66%, 20%);
  color: black;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  line-height: 1;
}
.project *:not(a:last-of-type)::after {
  content: "";
  display: block;
  padding-bottom: 0.75rem;
  opacity: 0;
}
.project h2 {
  font-size: clamp(2rem, 4vw, 4vh);
}
.project p {
  font-size: clamp(1.25rem, 3vw, 3vh);
}
.project a {
  font-size: clamp(1rem, 2vw, 2vh);
}
.project > * {
  padding: 0.25rem 0;
}
.project a:last-of-type {
  background-color: hsl(200deg, 66%, 20%);
  color: white;
  padding: 0.75rem;
  border-radius: 0.75rem;
  width: fit-content;
  margin: 0 auto;
}
.project div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

@media (min-width: 100vh) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .project:first-of-type {
    border-radius: 1.5rem 0 0 1.5rem;
  }
  .project:last-of-type {
    border-radius: 0 1.5rem 1.5rem 0;
  }
}